.header {
  font-size: 26px;
  font-weight: 700;
  color: var(--primary);
  padding-bottom: 16px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 16px;
}

.homeContainer {
  padding: 24px;
}

.orderCategoriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}

.orderCategory {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  height: calc(100vh - 112px); 
  overflow-y: auto;
}

.categoryHeader {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 16px;
}

.orderList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.noOrders {
  font-size: 16px;
  font-weight: 600;
  color: #000a;
  padding: 16px 0;
}
