@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

:root {
  --primary: #00a4a4;
  --secondary: #000;
}

body,
html,
#root,
.App {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

*,
*::after,
*::before {
  font-family: "Wix Madefor Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}
button:hover {
  scale: 1.02;
  /* translate: 0 -1.5px; */
}

